<form class="mb-5" action="{{ base_url }}/results" method="get">
    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="form-group">
                <div class="lead">Event</div>
                <input name="event" type="text" class="form-control-inline" value="{{ events }}" placeholder="Space separated values">
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="form-group">
                <div class="lead">Opponent</div>
                <input name="opponent" type="text" class="form-control-inline" value="{{ opponents }}" placeholder="Space separated values">
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="form-group">
                <div class="lead">Date range</div>
                <input name="after" type="date" class="form-control-inline mr-2" value="{{ after }}">
                <label for="before" class="mr-2">&rarr;</label>
                <input name="before" type="date" class="form-control-inline" value="{{ before }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="form-group border-lg-right">
                <div class="lead">Opponent race</div>
                <div class="container">
                    <div class="row">
                        <div class="col form-check">
                            <input type="hidden" name="zerg" value="off">
                            <input type="checkbox" class="form-check-input" name="zerg" {% if "Z" in opponent_races %}checked{% endif %}>
                            <label for="zerg">Zerg</label>
                        </div>
                        <div class="col form-check">
                            <input type="hidden" name="terran" value="off">
                            <input type="checkbox" class="form-check-input" name="terran" {% if "T" in opponent_races %}checked{% endif %}>
                            <label for="terran">Terran</label>
                        </div>
                        <div class="col form-check">
                            <input type="hidden" name="protoss" value="off">
                            <input type="checkbox" class="form-check-input" name="protoss" {% if "P" in opponent_races %}checked{% endif %}>
                            <label for="protoss">Protoss</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="form-group border-lg-right pr-5">
                <div class="lead">Match type</div>
                <select class="form-control" name="match_type">
                    <option{% if match_type != "online" and match_type != "offline" %} selected="selected"{% endif %}>all</option>
                    <option{% if match_type == "offline" %} selected="selected"{% endif %}>offline</option>
                    <option{% if match_type == "online" %} selected="selected"{% endif %}>online</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="form-group">
                <div class="lead">Match format</div>
                <div class="container">
                    <div class="row">
                        <div class="col form-check">
                            <input type="hidden" name="BO1" value="off">
                            <input type="checkbox" class="form-check-input" name="BO1" {% if "BO1" in match_format %}checked{% endif %}>
                            <label class="form-check-label" for="BO1">BO1</label>
                        </div>
                        <div class="col form-check">
                            <input type="hidden" name="BO3" value="off">
                            <input type="checkbox" class="form-check-input" name="BO3" {% if "BO3" in match_format %}checked{% endif %}>
                            <label class="form-check-label" for="BO3">BO3</label>
                        </div>
                        <div class="col form-check">
                            <input type="hidden" name="BO5" value="off">
                            <input type="checkbox" class="form-check-input" name="BO5" {% if "BO5" in match_format %}checked{% endif %}>
                            <label class="form-check-label" for="BO5">BO5</label>
                        </div>
                        <div class="col form-check">
                            <input type="hidden" name="BO7plus" value="off">
                            <input type="checkbox" class="form-check-input" name="BO7plus" {% if "BO7plus" in match_format %}checked{% endif %}>
                            <label class="form-check-label" for="BO7plus">BO7+</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Filter</button>
    </div>
</form>
{% if results.total_matches > 0 %}
    <div class="text-center">
        Under these filters, {{ player.tag }} is
        <strong>{{ results.map_wins }}-{{ results.total_maps - results.map_wins }}</strong>
        <small class="text-muted">({{ (100 * results.map_wins / results.total_maps)|round(1, 'floor') }}%)</small> in games and
        <strong>{{ results.match_wins }}-{{ results.total_matches - results.match_wins }}</strong>
        <small class="text-muted">({{ (100 * results.match_wins / results.total_matches)|round(1, 'floor') }}%)</small> in matches.
    </div>
    {% if results.events|length > 30 %}
    <div class="text-center">
        <img src="{{ asset('build/images/warning.png') }}" class="picto"/>
        Only the most recent 30 events are showed.
    </div>
    {% endif %}
    {% include 'player/matches.html.twig' with {'matches': false, 'events': results.events|slice(0, 30)} %}
{% else %}
    <div class="lead">No match found.</div>
{% endif %}
