{% import 'flags.html.twig' as flags %}
{% set total_matches = results.matches.z.total + results.matches.p.total + results.matches.t.total %}
{% set wins_matches = results.matches.z.wins + results.matches.p.wins + results.matches.t.wins %}
{% set total_maps = results.maps.z.total + results.maps.p.total + results.maps.t.total %}
{% set wins_maps = results.maps.z.wins + results.maps.p.wins + results.maps.t.wins %}
<div class="container">
    <h3>Facts:</h3>
    <div class="row mb-2">
        <div class="col">
            <table class="table table-striped table-sm">
                <tbody>
                    <tr>
                        <th scope="col">Race</th>
                        <td>{% include 'player/race.html.twig' with {'race': player.race, 'long': true} %}</td>
                    </tr>
                    {% if player.country %}
                    <tr>
                        <th scope="col">Country</th>
                        <td>{{ player.country }} {{ flags.getFlag(player.country) }}</td>
                    </tr>
                    {% endif %}
                    {% if player.name %}
                    <tr>
                        <th scope="col">Full Name</th>
                        <td>{{ player.name }}{% if player.romanizedName %} ({{ player.romanizedName}}){% endif %}</td>
                    </tr>
                    {% endif %}
                    {% if player.birthday %}
                    <tr>
                        <th scope="col">Birthday</th>
                        <td>{{ player.birthday|date('Y-m-d') }} <small>({{ player_age }} years)</small></td>
                    </tr>
                    {% endif %}
                    {% if player.aliases %}
                    <tr>
                        <th scope="col">Aliases</th>
                        <td>{{ player.aliases|join(', ') }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-striped table-sm">
                <tbody>
                    {% if player.lpName %}
                    <tr>
                        <th scope="col">Liquipedia</th>
                        <td><a href="https://liquipedia.net/starcraft2/{{ player.lpName }}">https://liquipedia.net/starcraft2/{{ player.lpName }}</a></td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th scope="col">First Match</th>
                        <td>{{ results.first.date|date('Y-m-d') }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Last Match</th>
                        <td>{{ results.last.date|date('Y-m-d') }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Matches/Maps played</th>
                        <td>
                            {{ total_matches }} / {{ total_maps }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">Winrate Matches/Maps</th>
                        <td>
                            {{ (100 * wins_matches / total_matches)|round(1, 'floor') }}%
                            /
                            {{ (100 * wins_maps / total_maps)|round(1, 'floor') }}%
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h3>Most recent results:</h3>
    {% include 'player/matches_month_graph.html.twig' %}
    {% include 'player/matches.html.twig' with {'matches': results.recent_matches, 'events': false} %}
</div>
